.elements > div {
	padding: 1rem;
}
.elements > div:nth-child(1) .element-img {
	background-position: calc(-200px * calc(1 - 1)) 0;
}
.elements > div:nth-child(1) .element-hover-img {
	background-position: calc(-200px * 1 + 100px) 0;
}
.elements > div:nth-child(2) .element-img {
	background-position: calc(-200px * calc(2 - 1)) 0;
}
.elements > div:nth-child(2) .element-hover-img {
	background-position: calc(-200px * 2 + 100px) 0;
}
.elements > div:nth-child(3) .element-img {
	background-position: calc(-200px * calc(3 - 1)) 0;
}
.elements > div:nth-child(3) .element-hover-img {
	background-position: calc(-200px * 3 + 100px) 0;
}
.elements > div:nth-child(4) .element-img {
	background-position: calc(-200px * calc(4 - 1)) 0;
}
.elements > div:nth-child(4) .element-hover-img {
	background-position: calc(-200px * 4 + 100px) 0;
}
.elements > div:nth-child(5) .element-img {
	background-position: calc(-200px * calc(5 - 1)) 0;
}
.elements > div:nth-child(5) .element-hover-img {
	background-position: calc(-200px * 5 + 100px) 0;
}
.elements > div:nth-child(6) .element-img {
	background-position: calc(-200px * calc(6 - 1)) 0;
}
.elements > div:nth-child(6) .element-hover-img {
	background-position: calc(-200px * 6 + 100px) 0;
}
.elements > div:nth-child(7) .element-img {
	background-position: calc(-200px * calc(7 - 1)) 0;
}
.elements > div:nth-child(7) .element-hover-img {
	background-position: calc(-200px * 7 + 100px) 0;
}
.elements > div:nth-child(8) .element-img {
	background-position: calc(-200px * calc(8 - 1)) 0;
}
.elements > div:nth-child(8) .element-hover-img {
	background-position: calc(-200px * 8 + 100px) 0;
}
.elements > div:nth-child(9) .element-img {
	background-position: calc(-200px * calc(9 - 1)) 0;
}
.elements > div:nth-child(9) .element-hover-img {
	background-position: calc(-200px * 9 + 100px) 0;
}
.elements > div:nth-child(10) .element-img {
	background-position: calc(-200px * calc(10 - 1)) 0;
}
.elements > div:nth-child(10) .element-hover-img {
	background-position: calc(-200px * 10 + 100px) 0;
}
.elements > div:nth-child(11) .element-img {
	background-position: calc(-200px * calc(11 - 1)) 0;
}
.elements > div:nth-child(11) .element-hover-img {
	background-position: calc(-200px * 11 + 100px) 0;
}
.elements > div:nth-child(12) .element-img {
	background-position: calc(-200px * calc(12 - 1)) 0;
}
.elements > div:nth-child(12) .element-hover-img {
	background-position: calc(-200px * 12 + 100px) 0;
}
.elements > div:nth-child(13) .element-img {
	background-position: calc(-200px * calc(13 - 1)) 0;
}
.elements > div:nth-child(13) .element-hover-img {
	background-position: calc(-200px * 13 + 100px) 0;
}
.elements > div:nth-child(14) .element-img {
	background-position: calc(-200px * calc(14 - 1)) 0;
}
.elements > div:nth-child(14) .element-hover-img {
	background-position: calc(-200px * 14 + 100px) 0;
}
.elements > div > a {
	display: block;
}
.element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0.1rem solid #ebebeb;
	position: relative;
	transition: all 0.3s;
}
.element:hover,
.element:focus {
	box-shadow: 0 5px 20px rgba(234, 234, 234, 0.8);
}
.element:hover .element-hover-img,
.element:focus .element-hover-img {
	visibility: visible;
	opacity: 1;
}
.element:hover .element-img,
.element:focus .element-img {
	opacity: 0;
}
.element:hover p,
.element:focus p {
	color: #333;
}
.element p {
	margin-top: -1rem;
	padding-bottom: 1rem;
}
.element-img,
.element-hover-img {
	width: 100px;
	height: 100px;
	background-image: url(/images/elements.png);
	background-repeat: no-repeat;
	transition: all 0.3s;
}
.element-hover-img {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.element-type {
	font-size: 1.3rem;
	font-weight: 400;
	font-family: 'Poppins';
	letter-spacing: 0.01em;
	color: #666;
	text-transform: uppercase;
}
