.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.85rem 1.5rem;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.5;
	letter-spacing: -0.01em;
	min-width: 170px;
	border-radius: 0;
	white-space: normal;
	transition: all 0.3s;
}
.btn span {
	line-height: 1;
}
.btn i:first-child {
	margin-right: 1rem;
}
.btn i:last-child {
	margin-left: 1rem;
}
.btn:focus {
	box-shadow: none;
}
.btn:focus,
.btn:active {
	outline: none !important;
}
.btn:active:focus {
	box-shadow: none !important;
}
.btn.btn-minwidth-sm {
	min-width: 112px;
}
.btn.btn-minwidth {
	min-width: 170px;
}
.btn.btn-minwidth-lg {
	min-width: 218px;
}
.btn:active {
	outline: none;
}
.btn-rounded {
	border-radius: 0.2rem;
}
.btn-round {
	border-radius: 3rem;
}
.btn-lg {
	font-weight: 500;
	font-size: 1.5rem;
	min-width: 170px;
	padding: 1.1rem 2rem;
}
.btn-lg i:first-child {
	margin-right: 1.4rem;
}
.btn-lg i:last-child {
	margin-left: 1.4rem;
}
.btn-more {
	padding-top: 1.15rem;
	padding-bottom: 1.15rem;
	min-width: 230px;
	text-transform: uppercase;
}
.btn-link {
	padding: 0.4rem 1rem;
	min-width: 0;
	color: #c96;
	text-decoration: none;
	border: none;
	border-bottom: 0.1rem solid transparent;
	letter-spacing: 0;
	font-size: 1.4rem;
	min-width: 0;
	font-family: 'Poppins', sans-serif;
}
.btn-link.btn-link-dark {
	color: #333;
}
.btn-link:hover,
.btn-link:focus,
.btn-link .btn-link-dark:hover,
.btn-link .btn-link-dark:focus {
	color: #c96;
	text-decoration: none;
	border-color: #c96;
}
.btn-link i:first-child {
	margin-right: 1rem;
}
.btn-link i:last-child {
	margin-left: 1rem;
}
.btn-hover-text {
	display: none;
}
.btn:hover .btn-text,
.btn:focus .btn-text {
	display: none;
}
.btn:hover .btn-hover-text,
.btn:focus .btn-hover-text {
	display: inline-block;
}
.btn-primary {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #a6c76c;
	border-color: #a6c76c;
	box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
}
.btn-secondary {
	color: #fff;
	background-color: #a6c76c;
	border-color: #a6c76c;
	box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #fff;
	background-color: #a6c76c;
	border-color: #a6c76c;
}
.btn-white {
	color: #333;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
	color: #333;
	background-color: #fff;
	border-color: #fff;
}
.btn-white-2 {
	color: #333;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-white-2:hover,
.btn-white-2:focus,
.btn-white-2.focus,
.btn-white-2:not(:disabled):not(.disabled):active,
.btn-white-2:not(:disabled):not(.disabled).active,
.show > .btn-white-2.dropdown-toggle {
	color: #fff;
	background-color: #a6c76c;
	border-color: #a6c76c;
	box-shadow: none;
}
.btn-white-2.disabled,
.btn-white-2:disabled {
	color: #333;
	background-color: #fff;
	border-color: #fff;
}
.btn-primary-white {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-primary-white:hover,
.btn-primary-white:focus,
.btn-primary-white.focus,
.btn-primary-white:not(:disabled):not(.disabled):active,
.btn-primary-white:not(:disabled):not(.disabled).active,
.show > .btn-primary-white.dropdown-toggle {
	color: #c96;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-primary-white.disabled,
.btn-primary-white:disabled {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
}
.btn-white-primary {
	color: #c96;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-white-primary:hover,
.btn-white-primary:focus,
.btn-white-primary.focus,
.btn-white-primary:not(:disabled):not(.disabled):active,
.btn-white-primary:not(:disabled):not(.disabled).active,
.show > .btn-white-primary.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-white-primary.disabled,
.btn-white-primary:disabled {
	color: #c96;
	background-color: #fff;
	border-color: #fff;
}
.btn-dark {
	color: #fff;
	background-color: #333;
	border-color: #333;
	box-shadow: none;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-dark.disabled,
.btn-dark:disabled {
	color: #fff;
	background-color: #333;
	border-color: #333;
}
.btn-outline {
	color: #c96;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline.focus,
.btn-outline:not(:disabled):not(.disabled):active,
.btn-outline:not(:disabled):not(.disabled).active,
.show > .btn-outline.dropdown-toggle {
	color: #c96;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.btn-outline.disabled,
.btn-outline:disabled {
	color: #c96;
	background-color: transparent;
}
.btn-outline-primary {
	color: #c96;
	background-color: transparent;
	background-image: none;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #c96;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #c96;
	background-color: transparent;
}
.btn-outline-primary-2 {
	color: #c96;
	background-color: transparent;
	background-image: none;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-primary-2:hover,
.btn-outline-primary-2:focus,
.btn-outline-primary-2.focus,
.btn-outline-primary-2:not(:disabled):not(.disabled):active,
.btn-outline-primary-2:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary-2.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-primary-2.disabled,
.btn-outline-primary-2:disabled {
	color: #c96;
	background-color: transparent;
}
.btn-outline-light {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
	color: #c96;
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
	color: #fff;
	background-color: transparent;
}
.btn-outline-dark {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
	color: #c96;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
	color: #333;
	background-color: transparent;
}
.btn-outline-dark-2 {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: none;
}
.btn-outline-dark-2:hover,
.btn-outline-dark-2:focus,
.btn-outline-dark-2.focus,
.btn-outline-dark-2:not(:disabled):not(.disabled):active,
.btn-outline-dark-2:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark-2.dropdown-toggle {
	color: #c96;
	background-color: #fafafa;
	border-color: #ebebeb;
	box-shadow: none;
}
.btn-outline-dark-2.disabled,
.btn-outline-dark-2:disabled {
	color: #333;
	background-color: transparent;
}
.btn-outline-dark-3 {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none;
}
.btn-outline-dark-3:hover,
.btn-outline-dark-3:focus,
.btn-outline-dark-3.focus,
.btn-outline-dark-3:not(:disabled):not(.disabled):active,
.btn-outline-dark-3:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark-3.dropdown-toggle {
	color: #c96;
	background-color: transparent;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-dark-3.disabled,
.btn-outline-dark-3:disabled {
	color: #333;
	background-color: transparent;
}
.btn-outline-darker {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none;
}
.btn-outline-darker:hover,
.btn-outline-darker:focus,
.btn-outline-darker.focus,
.btn-outline-darker:not(:disabled):not(.disabled):active,
.btn-outline-darker:not(:disabled):not(.disabled).active,
.show > .btn-outline-darker.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-darker.disabled,
.btn-outline-darker:disabled {
	color: #333;
	background-color: transparent;
}
.btn-outline-gray {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #959595;
	box-shadow: none;
}
.btn-outline-gray:hover,
.btn-outline-gray:focus,
.btn-outline-gray.focus,
.btn-outline-gray:not(:disabled):not(.disabled):active,
.btn-outline-gray:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-gray.disabled,
.btn-outline-gray:disabled {
	color: #333;
	background-color: transparent;
}
.btn-outline-lightgray {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: none;
}
.btn-outline-lightgray:hover,
.btn-outline-lightgray:focus,
.btn-outline-lightgray.focus,
.btn-outline-lightgray:not(:disabled):not(.disabled):active,
.btn-outline-lightgray:not(:disabled):not(.disabled).active,
.show > .btn-outline-lightgray.dropdown-toggle {
	color: #c96;
	background-color: #f5f6f9;
	border-color: #ebebeb;
	box-shadow: none;
}
.btn-outline-lightgray.disabled,
.btn-outline-lightgray:disabled {
	color: #333;
	background-color: transparent;
}
.btn-shadow {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !important;
}
.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow:active {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
}
.btn-outline-white {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
	box-shadow: none;
}
.btn-outline-white.disabled,
.btn-outline-white:disabled {
	color: #fff;
	background-color: transparent;
}
.btn-outline-white-2 {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white-2:hover,
.btn-outline-white-2:focus,
.btn-outline-white-2.focus,
.btn-outline-white-2:not(:disabled):not(.disabled):active,
.btn-outline-white-2:not(:disabled):not(.disabled).active,
.show > .btn-outline-white-2.dropdown-toggle {
	color: #fff;
	background-color: #a6c76c;
	border-color: #a6c76c;
	box-shadow: none;
}
.btn-outline-white-2.disabled,
.btn-outline-white-2:disabled {
	color: #fff;
	background-color: transparent;
}
.btn-outline-white-3 {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white-3:hover,
.btn-outline-white-3:focus,
.btn-outline-white-3.focus,
.btn-outline-white-3:not(:disabled):not(.disabled):active,
.btn-outline-white-3:not(:disabled):not(.disabled).active,
.show > .btn-outline-white-3.dropdown-toggle {
	color: #333;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white-3.disabled,
.btn-outline-white-3:disabled {
	color: #fff;
	background-color: transparent;
}
.btn-outline-white-4 {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white-4:hover,
.btn-outline-white-4:focus,
.btn-outline-white-4.focus,
.btn-outline-white-4:not(:disabled):not(.disabled):active,
.btn-outline-white-4:not(:disabled):not(.disabled).active,
.show > .btn-outline-white-4.dropdown-toggle {
	color: #c96;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
}
.btn-outline-white-4.disabled,
.btn-outline-white-4:disabled {
	color: #fff;
	background-color: transparent;
}
.bg-image .btn-link-dark {
	color: #fff;
}
.bg-image .btn-link-dark:hover,
.bg-image .btn-link-dark:focus {
	color: #c96;
	border-color: #c96;
}
.bg-image .btn-outline-primary:hover,
.bg-image .btn-outline-primary:focus,
.bg-image .btn-outline-primary.focus,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .bg-image .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #c96;
	border-color: #c96;
}
.bg-image .btn-outline-dark {
	color: #fff;
	border-color: #fff;
}
.bg-image .btn-outline-dark:hover,
.bg-image .btn-outline-dark:focus,
.bg-image .btn-outline-dark.focus,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .bg-image .btn-outline-dark.dropdown-toggle {
	color: #c96;
	background-color: #fff;
	border-color: #fff;
}
