#scroll-top {
	width: 5rem;
	height: 5rem;
	position: fixed;
	right: 50px;
	bottom: 128px;
	z-index: 999;
	color: #cccccc;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1;
	border-radius: 0;
	border: none;
	background-color: #fafafa;
	font-size: 3rem;
	transition: all 0.4s ease;
	transform: translateY(60px);
	-ms-transform: translateY(60px);
}
#scroll-top:hover,
#scroll-top:focus {
	color: #777;
	background-color: #eaeaea;
}
#scroll-top.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
}
@media screen and (min-width: 768px) {
	#scroll-top {
		display: flex;
	}
}
