.header-10 {
	background-color: #fff;
}
.header-10 .header-top {
	font-size: 1.4rem;
	background-color: #fafafa;
	margin-bottom: 0;
}
.header-10 .header-top .container:after,
.header-10 .header-top .container-fluid:after {
	display: none;
}
.header-10 .header-menu {
	margin-top: 0;
}
.header-10 .header-dropdown {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}
.header-10 .header-dropdown + .header-dropdown {
	margin-left: 2rem;
}
.header-10 .header-dropdown > a,
.header-10 .header-dropdown > span {
	padding-right: 1.8rem;
}
.header-10 .header-dropdown > a:after,
.header-10 .header-dropdown > span:after {
	font-size: 1rem;
	margin-top: -0.6rem;
}
.header-10 .top-menu {
	text-transform: capitalize;
}
.header-10 .top-menu li + li {
	margin-left: 2rem;
}
.header-10 .header-middle {
	border-bottom: none;
}
.header-10 .cart-dropdown,
.header-10 .compare-dropdown {
	padding-left: 1.4rem;
}
.header-10 .cart-dropdown .dropdown-menu,
.header-10 .compare-dropdown .dropdown-menu {
	margin-top: 0;
}
.header-10 .cart-dropdown:not(:hover):not(.show) .dropdown-toggle,
.header-10 .compare-dropdown:not(:hover):not(.show) .dropdown-toggle,
.header-10 .mobile-menu-toggler,
.header-10 .search-toggle:not(:hover):not(:focus),
.header-10 .wishlist-link:not(:hover):not(:focus) {
	color: #333;
}
.header-10 .sticky-header {
	background-color: #f7f7f7;
}
.header-10 .mobile-menu-toggler {
	margin-left: 0;
}
.header-10 .header-search-extended {
	margin-right: 2.8rem;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}
.header-10 .header-search .header-search-wrapper {
	border-radius: 0.2rem;
	border-color: #c96;
}
.header-10 .header-search .btn {
	border-radius: 0 0.2rem 0.2rem 0;
}
.header-10 .header-search .select-custom:before {
	left: auto;
	right: 0;
}
.header-10 .header-bottom {
	background-color: #333;
}
.header-10 .header-bottom .container {
	display: block;
}
.header-10 .header-bottom .col-lg-9 {
	position: static;
}
.header-10 .header-bottom .main-nav {
	margin-left: 5.2rem;
}
.header-10 .header-bottom .menu ul,
.header-10 .header-bottom .menu .megamenu {
	margin-top: 0;
}
.header-10 .header-bottom .menu > li:not(:hover):not(.active):not(.show) > a {
	color: #fff;
}
.header-10 .header-bottom .mobile-menu-toggler {
	color: #fff;
}
.header-10 .header-bottom .menu > li > a {
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}
.header-10 .header-bottom .menu > li > a:before {
	background-color: #fff;
}
.header-10 .menu > li:hover > a,
.header-10 .menu > li.show > a,
.header-10 .menu > li.active > a {
	color: #fff;
}
.header-10 .category-dropdown .dropdown-toggle {
	color: #fff;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 1.6rem;
	letter-spacing: -0.01em;
	padding: 1.45rem 5rem 1.45rem 2rem;
	background-color: #c96;
	min-width: 100%;
}
.header-10 .category-dropdown .dropdown-toggle:before {
	display: none;
}
.header-10 .category-dropdown .dropdown-toggle:after {
	position: absolute;
	right: 1.9rem;
	top: 50%;
	margin-top: -1.15rem;
	font-weight: normal;
	margin-left: 0;
	float: right;
}
.header-10 .category-dropdown.show .dropdown-toggle:after {
	content: '\f131';
}
.header-10 .category-dropdown .dropdown-menu {
	box-shadow: none;
}
.header-10 .menu-vertical ul li > a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.header-10 .menu-vertical .menu-title {
	color: #c96;
}
.header-10 .menu-vertical .menu-col {
	margin-top: 1.6rem;
}
@media screen and (max-width: 991px) {
	.header-10 .header-search-visible .header-search-wrapper:before {
		border-bottom-color: #dadada;
	}
	.header-10 .top-menu:not(.top-link-menu) ul {
		margin-top: 0;
	}
}
@media screen and (min-width: 1200px) {
	.header-10 .header-search-extended {
		margin-right: 6.6rem;
	}
}
