.page-header {
	padding: 4.6rem 0 5rem;
	background-color: #ebebeb;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.page-header h1 {
	color: #333;
	font: normal 400 3.2rem/1.1 'Poppins', sans-serif;
	letter-spacing: -0.025em;
	margin-bottom: 0;
}
.page-header h1 span {
	display: block;
	color: #c96;
	font-size: 1.6rem;
	margin-top: 0.8rem;
}
.page-header.page-header-big {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 250px;
	margin-bottom: 5rem;
}
.page-header.page-header-big h1 span {
	font-size: 1.6rem;
	margin-top: 0.4rem;
	letter-spacing: 0;
}
@media screen and (min-width: 768px) {
	.page-header h1 {
		font-size: 3.6rem;
	}
	.page-header h1 span {
		font-size: 1.8rem;
	}
	.page-header.page-header-big {
		min-height: 350px;
	}
}
@media screen and (min-width: 992px) {
	.page-header h1 {
		font-size: 4rem;
	}
	.page-header h1 span {
		font-size: 2rem;
	}
	.page-header.page-header-big {
		min-height: 450px;
	}
}
.breadcrumb-nav {
	margin-bottom: 4rem;
	border-bottom: 0.1rem solid rgba(235, 235, 235, 0.55);
}
.breadcrumb-nav .container,
.breadcrumb-nav .container-fluid {
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}
.breadcrumb-with-filter .container,
.breadcrumb-with-filter .container-fluid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumb-with-filter .container-fluid {
	width: 100%;
}
.breadcrumb {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.breadcrumb-item {
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.5;
	letter-spacing: 0;
	text-transform: capitalize;
}
.breadcrumb-item i {
	font-size: 1.3rem;
	vertical-align: top;
	margin-top: -0.2rem;
}
.breadcrumb-item i::before {
	margin: 0;
}
.breadcrumb-item a {
	color: #777;
}
.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
	color: #c96;
}
.breadcrumb-item.active {
	color: #333333;
}
.breadcrumb-item + .breadcrumb-item {
	padding-left: 1rem;
}
.breadcrumb-item + .breadcrumb-item:before {
	color: #999999;
	content: '\f112';
	font-family: 'molla';
	padding-right: 0.7rem;
	font-size: 1.1rem;
	vertical-align: middle;
	margin-top: -0.1rem;
}
